<nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">E-Banking App</a>

    <div class="collapse navbar-collapse" id="navbarNav" *ngIf="authService.isAuthenticated">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers" routerLinkActive="active">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/accounts" routerLinkActive="active">Accounts</a>
        </li>
        <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN')">
          <a class="nav-link" routerLink="/new-customer" routerLinkActive="active">New Customer</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <button class="btn btn-light text-primary fw-semibold" routerLink="/login" *ngIf="!authService.isAuthenticated">
        Connexion
      </button>

      <span class="me-3 fw-bold text-white" *ngIf="authService.isAuthenticated">
        👤 {{ authService.username }}
      </span>
      <button class="btn btn-outline-light btn-sm rounded-3" (click)="handleLogout()" *ngIf="authService.isAuthenticated">
        Déconnexion
      </button>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
